<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora IMC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Calculadora IMC</h1>

  <form action="{{ url_for('calcular_imc') }}" method="post">
    <label for="peso">Peso (kg):</label>
    <input type="number" name="peso" required>

    <label for="altura">Altura (cm):</label>
    <input type="number" name="altura" step="1" required>

    <button type="submit">Calcular IMC</button>
  </form>
</body>

</html>